<div class="invitation">
  <span>INVITATION</span>
  <div class="dote">•</div>
  <span>INVITATION</span>
  <div class="dote">•</div>
  <span>INVITATION</span>
  <div class="dote">•</div>
</div>

<section class="section-1">
  <h1 class="title">Vazgen & Ani</h1>
  <div class="VAImg">
    <object data="/imgs/VA1.svg" type="image/svg+xml"></object>
    <h1 class="title title2">Dear guests ,</h1>
    <img src="/imgs/text.svg" alt="">
  </div>
</section>
<section class="section-2">
  <div class="image1 image">
    {{!-- <img src="" alt="img" /> --}}
  </div>
  <div class="image2 image">
    <h3>Save the date</h3>
    <img src="/imgs/day.svg" alt="img">
  </div>
  <div class="image3 image">
    <img src="/imgs/Group 3.svg" alt="" />
  </div>
  <div class="image4 image">
  </div>
</section>

<section class="section-3">
  <div class="section-3-title">
    <h1 class="title title3">Schedule of the day</h1>
    <div class="line"></div>
  </div>
  <div class="schedule">
    <div class="schedule-1">
      <div class="hour">13:00</div>
      <div class="dash"></div>
      <div class="event">
        BRIDE'S PREPERATIONS <br />
        <span>Kotayk, Nor kvartal, 1 street, 58</span>
      </div>
    </div>
    <div class="schedule-1">
      <div class="hour">15:00</div>
      <div class="dash"></div>
      <div class="event">
        CHURCH<br />
        <span>Saint Anna church, Abovyan street </span>
      </div>
    </div>
    <div class="schedule-1">
      <div class="hour">17:30</div>
      <div class="dash"></div>
      <div class="event">
        BANQUET <br />
        <span>“Villa” restaurant complex, Jrvej 8</span>
      </div>
    </div>
  </div>
</section>

<div class="inputs">
  <form action="/" method="POST">
    <div class="input">
      <p>Please, enter your name</p>
      <input name="name" type="text" required />
    </div>
    <div class="input">
      <p>Please, enter your surname</p>
      <input name="surname" type="text" required />
    </div>
    <div class="input">
      <p>Will you join us?</p>
      <input name="text" type="text" required />
    </div>
    <button type="submit" class="sent_btn"><span>Sent</span></button>
  </form>
</div>