* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #261200;
  ;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-image: url(imgs/nordwood-themes-R53t-Tg6J4c-unsplash.svg);
  overflow-x: hidden;
}

header {
  padding: 20px;
}

.section-1 {
  background-image: url(imgs/Rectangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 89%;
  height: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 70px;
}

.title {
  font-family: "Lamarkie";
  font-size: 24px;
  line-height: 52px;
}

.title2 {
  margin: 30px 0 15px;
}

.invitation {
  width: 100%;
  position: absolute;
  top: 221px;
  border-top: 1px solid #261200;
  border-bottom: 1px solid #261200;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  background-color: #fff9ef;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.invitation span {
  font-size: 12px;
  color: #261200;
}

.VAImg {
  margin-top: 118px;
}

.VAImg img {
  width: 100%;
  max-height: 480px;
}

.VAImg p {
  font-family: "Roboto", sans-serif;
  width: 249px;
}

.section-2 {
  width: 100%;
  height: max-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 31px 0 42px;
  flex-wrap: wrap;
  margin-top: -30px;
}

.image {
  width: 50%;
  height: 239px;
}

.image2 {
  width: 50%;
  height: 239px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff6e7;
}

.image1 {
  width: 50%;
  height: 239px;
  background-image: url('/imgs/vava.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.image4 {
  width: 50%;
  height: 239px;
  background-image: url('/imgs/va3.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.image2 h3 {
  font-family: "Lamarkie";
  font-size: 8px;
  color: #554d45;
  line-height: 23px;
  margin-bottom: 30px;
}

.image3 {
  background-color: #4b3929;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-3-title {
  max-width: 75%;
  margin: 0 auto;
}

.title3 {
  font-size: 18px;
  margin-left: 2px;
}

.line {
  max-width: 100%;
  height: 1px;
  background-color: #261200;
}

.schedule {
  font-family: "Roboto";
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 75%;
  margin: 0 auto;
}

.hour {
  font-size: 22px;
  margin-top: -2px;
}

.dash {
  width: 15px;
  height: 1px;
  background-color: #261200;
  margin-top: 10px;
}

.schedule-1 {
  display: flex;
  gap: 10px;
}

.event {
  font-size: 15px;
}

.event span {
  font-size: 12px;
  color: #505050;
}

.inputs {
  padding: 30px;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input p {
  margin: 8px 0px;
  font-size: 12px;
  color: #505050;
}

.input input {
  box-shadow: 4px 4px 4px 0px #0000000d;
  width: 201px;
  height: 33px;
  border: 1px solid #5927114d;
  border-radius: 5px;
  padding: 5px;
}

.date {
  font-size: 22px;
  text-align: center;
  font-family: "Lamarkie";
}

@media screen and (min-width: 1000px) {
  .VAImg {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .schedule {
    align-items: center;
  }

  .inputs {
    align-items: center;
  }
}

.sent_btn {
  color: #261200;
  background: transparent;
  margin-top: 17px;
  font-size: 13px;
  padding-bottom: 3px;
  border-bottom: 1px solid #261200;
}

span{
  margin: 8px 0px;
  font-size: 12px;
}